@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-100 outline-darkOrange;
    font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial,
        sans-serif;
}
/* ************************************ Scrollbar******/
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #febd14 #dfe9eb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 4px;
    width: 4px;
}
*::-webkit-scrollbar-track {
    background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
    background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
    background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #fe9c08;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #e27c09;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #ff8c0a;
}

@media (max-width: 800px) {
    *::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
}
/* ************************************ Scrollbar******/

/******************************************** table css *******/

.category-table-screen {
    width: calc(100vw - 16px);
}

@media (min-width: 638px) {
    .category-table-screen {
        width: calc(100vw - 146px);
    }
}
@media (min-width: 900px) {
    .category-table-screen {
        width: auto;
    }
}

.product-table-screen {
    width: calc(100vw - 16px);
}

@media (min-width: 638px) {
    .product-table-screen {
        width: calc(100vw - 131px);
    }
}
@media (min-width: 887px) {
    .product-table-screen {
        width: auto;
    }
}

/********************************************/
.glass {
    background: rgba(255, 142, 13, 0.45);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border: 2px solid rgba(255, 142, 13, 0.225);
}

.layout {
    height: calc(100% - 50px);
}

.screen-height {
    height: calc(100vh - 50px);
}

.modal-overlay {
    background: rgba(255, 255, 255, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 50;
}
.overlay-modal-button {
    z-index: 60;
}

/* for hiding arrows in input element */
.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.price-input[type="number"] {
    -moz-appearance: textfield;
}

/* loading shimmer effects */

.shimmer {
    @apply bg-gray-200 overflow-hidden relative rounded-md;
}
.shimmer::after {
    background: rgb(241, 245, 249);
    rotate: 45deg;
    position: absolute;
    content: "";
    top: -50%;
    left: 0;
    width: 50%;
    height: 200%;
    background: linear-gradient(
        90deg,
        rgba(241, 245, 249, 0.024054690235469134) 13%,
        rgba(241, 245, 249, 1) 50%,
        rgba(241, 245, 249, 0) 84%
    );
    animation: moveShimmer 0.8s linear infinite;
}

@keyframes moveShimmer {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}
/* additional class for tailwind css */
.z-10 {
    z-index: 10;
}
.max-h-screen-nav {
    max-height: calc(100vh - 50px);
}
.min-h-screen-nav {
    min-height: calc(100vh - 50px);
}

/*-- grid for product bar */
.bar-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}
@media screen and (max-width: 742px) {
    .bar-grid {
        width: 100%;
    }
}
@media screen and (max-width: 594px) {
    .bar-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}
/* grid for product bar --*/

/* -- grid for create product page */ 
.create-product-page-grid {
    display:grid;
    grid-template-columns: repeat(1,1fr);
    gap:8px;
    grid-template-rows: repeat(4,1fr);
}
/* grid for create product page --*/ 
